# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea

# pycharm cache filer
__pycache__/
*.pyo

# data
input/indoor-location-navigation/
input/indoor-navigation-and-location-wifi-features/
input/indoor-unified-wifi-ds/
input/simple-99-accurate-floor-model/
input/unified-ds-wifi-and-beacon/

#virtual environments
venv/