# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea

# pycharm cache filer
__pycache__/
*.pyo

# data
archive/

#virtual environments
venv/